._404_hero{
  position: relative;
  height: 98.1vh;
  overflow: hidden;
  background-image: url('assets/img/heroScreenshot.jpg');
  background-size: cover;
  z-index: -1;
  ._404_hero_video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }
  ._404_hero_video video {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

._404_content{
  position: absolute;
  top:20%;
  z-index: 1;
  width: 100%;
  margin: auto;
  text-align: center;
  color: rgba(255,255,255,0.4);

}

._404_text{
  font-size: 200px;
  img{
    padding: 0 30px;
  }
}