.about_content {
  padding-top: 30vh;
}
.about_hero{
  position: relative;
  overflow: hidden;
  background-image: url('assets/img/about-us-bg.jpg');
  background-size: cover;

  .homepage_hero_video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }
  .homepage_hero_video video {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.column_fix{
  float: left;
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 5%;
}
.img_cont{
  height: 100px;
}
.our_team{
  color: #00325C;

}
@media screen and (min-width: 576px){
  .our_team{

    color: #00325C;
    img{
      width: 100%;
    }
  }
}


.section_why{
  padding-top: 100px;
}

.our-team-header {
  p {
    max-width:550px;
  }
}


.as_seen_on{
  h3 {
    margin-bottom:20px;
  }
  img{
   width:auto;
   height:54px;
   margin:0 auto;
   display:block;
   padding-bottom:15px;
   &:first-of-type {
     margin-top:40px;
   }
  }
}

@media screen and (min-width: 768px){
  .as_seen_on{
    img{
     width:auto;
     height:54px;
     margin-right:20px;
     display:inline-block;
     max-width:225px;
     &:first-of-type {
      margin-top:0px;
    }
    }
  }
}