.blog_hero{
  position: relative;
  background-image: url('assets/img/liquidity_hero.jpg');
  background-size: cover;
}
.blog_columns{
  padding-top: 100px;
  padding-bottom: 100px;
  width:100%;
  img{
    width: 100%;
  }
}
.blog_info h5{
  height: 55px;
}
.blog_info .blog_exceprt{
  max-height: 180px;
  overflow: hidden;
  padding: 10px 0;
}
.blog_columns .col-sm-3{
  background: #fff;
  color: #00325C;
  padding-left: 0;
  padding-right: 0;
}
.blog_columns .col-lg-3{
  background: #fff;
  color: #00325C;
  padding-left: 0;
  padding-right: 0;
}
.blog_columns .col-md-5{
  background: #fff;
  color: #00325C;
  padding-left: 0;
  padding-right: 0;
}
.blog_read{
  color: rgba(0, 50, 92, 1);
  font-size: 18px;
  font-weight: 500;
}
.blog_read:hover{
  color: rgba(0, 50, 92, 1);
  font-size: 18px;
  font-weight: 500;
}
.blog_date{
  float: right;
}
li.page-item {
  padding: 5px 10px;


}
span.page-numbers.current{
  background: #0A6A79;
  color: #fff;
  padding: 5px 10px;
}
li.next-list-item {
  margin-right: 65px;
  a{
    color: #00325C;
  }

}
li.prev-list-item {
  margin-right: 65px;
  a{
    color: #00325C;
  }

}
a.page-numbers{
  background: #D2D2D2;
  color: #fff;
  padding: 5px 10px;
}
.page-link{
  background: transparent;
  border: none;
  outline: none;

}
a.page-link:hover{
  color: #0A6A79;
}


.archive-page-article {
  a {
    text-decoration: none;
    h2 {
      font-size:1.2em;
      color:#0F8587;
      &:hover {
        text-decoration:none;
        color:#00325C;
      }
    }

    img {
      opacity:1;
      &:hover {
        opacity:0.9;
      }
    }
  }
  p {
    font-size:16px;
  }

  .blog_read {
    opacity:1;
    &hover {
      opacity:0.9;
    }
  }

  .featured-img {
    max-height:190px;
    min-height:190px;
  }

}

.nopost {
  padding-left:15px;
}