.cta {
  font-size:1em;
  font-weight:400;
  color: #fff;
  padding: 15px 30px;
  background: #0F8587;
  text-transform: uppercase;
  border-radius:4px;

  &:hover {
    background: #00325C;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

.cta2{
  padding: 15px 30px;
  background: #fff;
  color: #00325C!important;
  text-transform: uppercase;
  &:hover {
    background: #0F8587;
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
  }
}

