.bg_dark_blue{
  background: #00325C;
}
.bg_dark_green{
  background: #0A6A79;
}
.bg_gray{
  background: #EEEEEE;
}
.bg_dark_gray{
  background: #E1E1E1;
}
.bg_linear{
  background-image: linear-gradient(to bottom, #0F8587, #00325C);
}
.bg_linear2{
  background-image: linear-gradient(to right, #0F8587, #00325C);
}