.logo_container2{
  padding-top: 30px;
  position: relative;
  height: 100px;
}
.mapouter {
  width: 100%!important;
}
.gmap_canvas {
  width: 100%!important;
}
iframe#gmap_canvas {
  width: 100%!important;
}

.thank-you {
  color: white;
  font-size: 2em;
  font-weight:bold;
  
  &:hover {
    text-decoration:none;
    color:#00325C;
  }
}

.show-error {
  color: #fff;
  max-width:380px;
  font-size: 14px;
}

.img-map-location {
  min-height:1px;
  height:500px;
  max-height:500px;
  background:url('./assets/img/inflyx-map.jpg');
  background-size:cover;
  background-repeat: no-repeat;
}

// Team member pages
.team-member-page {
  background:#00325C;
  padding-top:100px;
  height:auto;
  overflow: visible;
  .contact-title {
    text-align: left;
    font-size:30px;
    line-height:33px;
    font-weight:400;
    letter-spacing: 0;
    color: #FFFFFF;
    padding:0 0 40px 40px;

  }
  h1 {
    font-size:24px;
    line-height:30px
  }

  .contact-box {
    background:white;
    color:#00325C;
    padding:0 0 40px 0;
    h2 {
      font-size:24px;
      line-height:33px;
      font-weight:500;
    }
    h3 {
      font-size:20px;
      line-height:33px;
      margin-bottom:30px;
    }
    img {
      margin:0;
      padding:0;
      width:100%;
    }
    .team-member-text {
      font-size:15px;
      text-align:left;
      line-height:20px;
      color:#00325C;
      padding:35px 60px;
    }
  }

  .contact-form {
    padding-top:30px;
    input {
      width:100%;
      color:white;
    }
    input[type='submit'] {
        background: #fff;
        width: 35%;
        color: #00325C;
        font-weight:500;
        border-radius:4px;
        text-transform: uppercase;
        margin: 55px 0;
        cursor: pointer;
    }
    textarea {
      background:transparent;
      border:1px solid white;
      border-top:none;
      border-left:none;
      border-right:none;
      padding-left:0;
      color:white;
    }
  }
}

//Team member media queries
@media (min-width: 570px) {
  .team-member-page {
  position: relative;
  background-image: url('assets/img/liquidity_hero.jpg');
  background-size: cover;
  padding-top:200px;
  overflow: visible; 
  }
}

@media (min-width:768px) {
    .team-member-page {
    position: relative;
    background-image: url('assets/img/liquidity_hero.jpg');
    background-size: cover;
    padding-top:200px;
    max-height:840px;
    min-height:840px;
    overflow: visible; 
    h1 {
    font-size:33px;
    line-height:41px
    }
  }
}

.generic-form {
  textarea {
      background:transparent;
      border:1px solid white;
      border-top:none;
      border-left:none;
      border-right:none;
      padding-left:0;
      color:white;
      width: 75%;
    }
}