footer{
  color: #00325C;
  p{
    font-size: 12px;
  }

  ul{
    padding: 20px 0;
    list-style-type: none;
    li {
      &:first-of-type {
        margin-top:10px;
      }
      &:last-of-type {
        margin-bottom:0;
      }
      margin-bottom:15px;
      a {
        text-decoration: none;
        color: #00325C;
        font-size: 17px;
        font-weight: bold;
        &:hover{
          text-decoration: none;
          color: #00325C;
          opacity:0.9;
        }
      }
    }
  }

  .footer_social_media{
    padding-top: 72px;
    span{
      padding: 20px 10px 20px 0;
    }
    p{
      font-weight: bold;
    }
  }
}

@media screen and (min-width:992px) {
  .footer_list {
      li {
        display:inline-block;
        padding-right:20px;
        &:last-of-type {
          padding-right:1px;
        }
      }
    }
  }

.asseen_img {
  height:100%;
  width:100%;
}

.phonenumber {
  font-size:16px; 
  font-weight:500;
}