html,body{
  background: #E1E1E1;

}
.logo_container{
  position: absolute;
  top: 60px;
  z-index: 1;
  width: 100%;
}

.line.line-3 {
  transition: all .3s .3s,transform .3s 0s;
  width: 30px;
  margin-left: 11px;
}
.line {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 0.2em;
  background: #fff;
  transition: .3s;
}
.menu-trigger {
  width: 30px;
  height: 13px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 20px 0;
}
.menu-trigger {
  transition: all .5s 0s;
  overflow: hidden;
}
.menu-trigger .line.line-3 {
  bottom: 0;
  top: auto;
  left: 0;
  transition: all .3s .3s,transform .3s 0s;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(10, 106, 121, 1);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  display: block;
  transition: 0.3s;
  opacity:0.9;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  cursor: pointer;
  text-decoration:none;
  text-shadow: 1px 2px 20px rgba(255,255,255,0.8);
  opacity:1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  font-weight: 100;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.inner_inflyx_logo{
  top: 60px;
}

@media screen and (min-width:920px) {
  .overlay {
    background-color: rgba(10, 106, 121, 0.9);
  }
}