.homepage_content {
 padding-top: 50vh;
}
.homepage_hero{
 position: relative;
 height: 98.1vh;
 overflow: hidden;
 background-image: url('assets/img/heroScreenshot.jpg');
 background-size: cover;

 .homepage_hero_video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
 }
 .homepage_hero_video video {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }


}
.bg_home_city{
 background-image: url('assets/img/home-city-bg.jpg');
 background-size: cover;


}
.sec_why_pad .col-lg-4{
 padding-bottom: 50px;
}
.bg_home_city .row{
 height: 500px;
}
.separator{
 height: 18px;
 background-image: linear-gradient(to left, #00325C, #0F8587);
}
.separator2{
  height: 18px;
  background-image: linear-gradient(to left, #0F8587, #00325C);
 }
.separator3{
 float: left;
 height: 5px;
 background-image: linear-gradient(to left, #0F8587, #00325C);
}
.homepage_offering_section{
 background: #fff;
 color: #00325C;
 opacity: 0;

 ul li{
   padding: 0 0;
 }

}

.homepage_talk .row {
    height: 400px;
}



.homepage_talk_to{
 height: 415px;
 color: #fff;
 background: url('assets/img/town_bg.jpg');
 background-position: 50% 20%;
}
.an_inflyx{
 width: 70%;
 float: right;

}
.as_seen_on{
 padding-top: 130px!important;
 color: #00325C;
 .col-2{
  margin-right: 40px;
 }
}
.section_why{
 padding-top: 300px;
 padding-bottom: 100px;
 color: #00325C;
  img{
   height: 100px;
   margin-bottom: 15px;
  }
 h5{
   padding: 20px 0;
 }
}
.section_why2{
 padding-top: 250px;
 color: #00325C;
 img{
  height: 100px;
  margin-bottom: 15px;
 }
 h5{
  padding: 20px 0;
 }
}
.section_why3{
 padding-top: 100px;
 padding-bottom: 100px;
 color: #00325C;
 img{
  height: 100px;
  margin-bottom: 15px;
 }
 h5{
  padding: 20px 0;
 }
}
.section_why4{
 padding-bottom: 100px;
 color: #00325C;
 img{
  height: 100px;
  margin-bottom: 15px;
 }
 h5{
  padding: 20px 0;
 }
}
.list-dash li {
 position: relative;
 list-style-type: none; /* disc circle(hollow) square none */
 text-indent: -2em;
 span {
  left: 20px;
  position: relative;
  top: -5px;
 }
}

.list-dash li:before {
 content: '\2014  '; /* em dash */
 content: '\2014  '; /* em dash */
 font-size: 35px;
 font-weight: 100;
 color: #00325C;

}
.green_gray{
 position: absolute;
 bottom:0;
 left: 0;
 background-image: linear-gradient(to left, #D2D2D2, #0F8587);
}
.next_step{
 padding: 10%!important;
 h3{
  font-weight: 100;

 }
}
h3{

 a{
  color: #fff;
  text-decoration: none;
  &:hover{
   color: #fff;
   text-decoration: none;
  }
 }
}
._hlink{
 color: #00325C;
 &:hover{
  color: #00325C;
  text-decoration: none;
 }
}
input{
 display: block;
 background: transparent;
 border: none;
 border-bottom: 1px solid #fff;
 padding: 15px 0;
 margin: 20px 0;
 width: 75%;
}
input:focus{
 outline: none;
}
input[type="submit"]{
 background: #fff;
 width: 35%;
 color: #00325C;
 text-transform: uppercase;
 margin: 55px 0;
}
::placeholder{
 color: #fff;
}
.show1{
 opacity: 0;
}
.show2{
 opacity: 0;
}
.show3{
 opacity: 0;
}
.show4{
 opacity: 0;
}
.show5{
 opacity: 0;
}
.show6{
 opacity: 0;
}
.show7{
 opacity: 0;
}
@media screen and (min-width: 769px){
 
}
@media screen and (max-width: 768px){
 .offering_heading{
  padding-top: 30px;
 }

 @media screen and (min-width: 990px) {
   .homepage_offering_section {
     min-height:600px;
   }
 }
 .homepage_offering_section{
  opacity: 1;
 }
 .show1{
  opacity: 1;
 }
 .show2{
  opacity: 1;
 }
 .show3{
  opacity: 1;
 }
 .show4{
  opacity: 1;
 }
 .show5{
  opacity: 1;
 }
 .show6{
  opacity: 1;
 }
 .show7{
  opacity: 1;
 }
 .as_seen_on{
    padding-top: 0!important;
    text-align: center;
    padding:20px 0;
 }
 .contact_sec{
  height: 1025px;
 }
 .homepage_hero{
  height: 107.1vh;
 }
 .an_inflyx{
  width: 90%;
 }
 .bg_home_city .row {
  height: auto;
 }
 .section_why {
  padding-top: 70px;
  padding-bottom: 100px;
  color: #00325C;
  .col-sm-2{
   text-align: center;
   padding-top: 30px;
   width: 50%;
  }
 }
 .section_why2 {
  padding-top: 70px;
  padding-bottom: 100px;
  color: #00325C;
 }
 .section_why3 {
  padding-top: 70px;
  padding-bottom: 100px;
  color: #00325C;
 }
 .section_why4 {
  padding-top: 70px;
  padding-bottom: 100px;
  color: #00325C;
 }
}
.distribution{
  height: 520px;
 position: relative;
}