.liquidity_content {
  padding-top: 30vh;
}

.liquidity_hero {
  position: relative;
  height: 98.1vh;
  overflow: hidden;
  background-image: url('assets/img/liquidity_hero.jpg');
  background-size: cover;

  .homepage_hero_video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }

  .homepage_hero_video video {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bullets li {
    opacity:0.85;

    &:hover {
      cursor: pointer;
      text-decoration:none;
      text-shadow: 1px 2px 20px rgba(255,255,255,0.5);
      opacity:1;
    }
  }


}