#more-money {
    font-family: 'Open Sans', sans-serif;
    background-color:#04777a;
    background:url('./assets/img/moremoney-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:top center;
    width:100%;
    .intro {
        padding:150px 0;
        color:white;

        h1 {
            font-size:32px;
            text-align: left;
            line-height: 1.3em;
            font-weight: normal;
            .more {
                font-weight:bold;
            }
        }

        h2 {
            margin-top:40px;
            font-weight: bold;
            font-size:25px;
            text-align: left;
        }

        ul {
            padding:0;
            margin:0;
            list-style-type:none;
            li {
                font-size:18px;
                margin-bottom:10px;
                &:first-of-type {
                    margin-top:20px;
                }

            }
        }
    }

    .contact-form {
        text-align: center;
        input {
            width:100%;
        }
        input[type=submit] {
            color:#13416E;
            font-size:20px;
            line-height:1.1em;
            font-weight:bold;
            padding:13px 40px;
            margin-left:0;
            width:auto;
            &:hover {
                box-shadow: 2px 1px 10px rgba(255,255,255,0.5);
            }
        }
    }
}

#who-we-are {
    color:#13416E;
    background:white;
    padding:50px 0;
    .details {
        h3 {
            font-size:24px;
            font-weight:bold;
            line-height:1.1em;
            margin-bottom:30px;
        }
        p {
            font-size:16px;
            line-height:1.1em;
        }
    }
}

#paul-orford {
    background:#EEEEEE;
    color:#13416E;
    padding:50px 0;
    .profile-information {
        .name {
            margin-top:30px;
            font-size:25px;
            font-weight:bold;
            line-height:1.4em;
        }
        .title {
            font-weight:500;
            line-height:1.1em;
            text-transform: uppercase;
            margin-bottom:25px;
        }
        p {
            font-size:16px;
            line-height: 1.3em;
        }
    }
}

#icon-section {
    background:url('./assets/img/home-city-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom center;
    width:100%;
    padding:50px 0;

    .information-box {
        padding:30px;
        margin-bottom:20px;
        background:white;
        .title {
            font-size:22px;
            font-weight: 500;
            line-height:1.2em;
            margin-bottom:30px;
        }
        p {
            font-size:16px;
            line-height:1.3em;
        }
    }
}

@media screen and (min-width:992px) {

    #more-money {
    font-family: 'Open Sans', sans-serif;
    background-color:#04777a;
    background:url('./assets/img/moremoney-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:bottom center;
    width:100%;
        .intro {
            padding:200px 0;
            color:white;

            h1 {
                font-size:38px;
                line-height: 50px;
                font-weight: normal;
                .more {
                    font-weight:bold;
                }
            }

            h2 {
                margin-top:0;
                font-weight: bold;
            }

            ul {
                padding:0;
                margin:0;
                list-style-type:none;
                li {
                    font-size:18px;
                    margin-bottom:20px;
                    &:first-of-type {
                        margin-top:20px;
                    }

                }
            }
        }
    
        .contact-form {
            input[type=submit] {
                color:#13416E;
                font-size:20px;
                line-height:1.1em;
                font-weight:bold;
                padding:13px 40px;
                width:auto;
                &:hover {
                    box-shadow: 2px 1px 10px rgba(255,255,255,0.5);
                }
            }
        }
    }

    #who-we-are {
        color:#13416E;
        background:white;
        padding:80px 0;
        .details {
            h3 {
                font-size:32px;
                font-weight:bold;
                line-height:1.1em;
                margin-bottom:30px;
            }
            p {
                font-size:20px;
                line-height:1.1em;
            }
        }
    }

    #paul-orford {
        background:#EEEEEE;
        color:#13416E;
        padding:80px 0;
        .profile-information {
            .name {
                font-size:25px;
                font-weight:bold;
                line-height:1.4em;
            }
            .title {
                font-weight:500;
                line-height:1.1em;
                text-transform: uppercase;
                margin-bottom:25px;
            }
            p {
                line-height: 1.3em;
                font-size:20px;
            }
        }
    }

    #icon-section {
        background:url('./assets/img/home-city-bg.jpg');
        background-size:cover;
        background-repeat: no-repeat;
        background-position:bottom center;
        width:100%;
        padding:80px 0;

        .information-box {
            padding:50px;
            background:white;
            .title {
                font-size:26px;
                font-weight: 500;
                line-height:1.2em;
                margin-bottom:40px;
            }
            p {
                font-size:18px;
                line-height:1.3em;
            }
        }
    }
}

#more-money .contact-form input {
    color:whitesmoke;
    letter-spacing: 1px;
}