ol {
  counter-reset:li;
  margin-left:0;
  padding-left:0;
}
ol > li {
  position:relative;
  margin:0 0 6px 2em;
  padding:25px 8px;
  list-style:none;

}
ol > li:before {
  content:counter(li);
  counter-increment:li;
  position:absolute;
  left:-3em;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:2em;
  margin-right:8px;
  padding: 3px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 35px;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}
.onboarding_hero{
  position: relative;
  padding-bottom:40px;
  overflow: hidden;
  background-image: url('assets/img/liquidity_hero.jpg');
  background-size: cover;

  .homepage_hero_video {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
  }
  .homepage_hero_video video {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width:767px){
  .onboarding_hero {
    position: relative;
    height:auto;
    overflow: hidden;
    background-image: url('assets/img/liquidity_hero.jpg');
    background-size: cover;
  }
  ol > li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 2em;
    margin-right: 8px;
    padding: 3px;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    border-radius: 35px;
  }
}