ul.bullets li {
  position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: 1.5em;
  list-style-type: none;
}
ul.bullets li:hover{
  text-decoration: underline;
}
ul.bullets li:after {
  /* bullets */
  content: "";
  height: 13px;
  width: 13px;
  border: 1px solid #fff;
  background: #07435A;
  border-radius: 50%;
  position: absolute;
  left: -22px;
  top: 6px;
}

ul.bullets li:before {
  /* lines */
  content:"";
  position: absolute;
  left: -16px; /* adjust manually */
  border-left: 1px solid #fff;
  height: 100%;
  width: 1px;
}

ul.bullets li:first-child:before {
  /* first li's line */
  top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.bullets li:last-child:before {
  /* last li's line */
  height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}
ul.bullets span{
  padding-left: 40px;
  font-size: 18px;
}
ul.bullets span a{
  text-decoration: none;
  color: #fff;
}
.bullets_content{
 overflow-y: scroll;
 overflow-x: hidden;
  height: 370px;
}
.bullets_content::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: rgba(0,0,0,.3);
}

.bullets_content::-webkit-scrollbar
{
  width: 5px;
  background-color: #fff;
}

.bullets_content::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fff;
}
.activelist:after{
  background: #fff!important;
  border: #fff!important;
}
@media screen and (max-width: 768px){
  .homepage_talk_to {
    height: 520px;

  }
  .liquidity_hero {
    position: relative;
    height: 115.1vh;
    overflow: hidden;
    background-image: url('assets/img/liquidity_hero.jpg');
    background-size: cover;
  }
  .bullets{
    display: block;
    li{
      padding-right: 2em;
      width: 50%;
      float:left;
    }
    li span{
      font-size: 10px;
      padding-left: 3px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  ul.bullets li:before {
    content: "";
   border: none;
  }
}

.our-clients-section {
  .section_why {
    padding-top: 100px;
  }
}