.main--single {
    padding-top:40px;
    background:#f1f1f1;
  
    .blog-article {
      padding-bottom:80px;
      max-width: 800px;
  
      h1,h2,h3,h4,h5,h6 {
        margin: 15px 0;
        color: #00325C;
      }

      h1 {
          font-size:26px;
      }
      img {
          width:100%;
          max-width:800px;
          height:auto;
      }
      p {
          color:#1f1f1f;
          line-height:1.4em;
      }

      .article-date {
        color:#000;
        line-height:1.2em;
        font-size:1em;
        font-weight:400;
        padding-left:0;
        }
    }
  
    //Breadcrumb Style 
    .breadcrumb {
        background:transparent;

        ul {
            padding-left:0;
            list-style-type:none;
            li {
                padding-left:0;
                display: inline-block;
                a {
                    color:black;
                    font-weight:bold;
                    &:hover {
                        text-decoration:none;
                        color:#00325C;
                    }
                }
                &:first-child::after {
                    content: "/\00a0";
                    padding-left:10px;
                }
            }
        }
    }//end of breadcrumb style

  }

@media (min-width: 992px) { 
    .main--single {
        .blog-article {
            h1 {
                font-size:32px;
            }
        }
    }
}