.technical_columns{
  padding-top: 100px;
}
.technical_columns .col-sm-4, .technical_columns .col-lg-4{
  background: #fff;
  color: #00325C;
}
.liquidity_content {
  padding-top: 30vh;
}
.technical_hero{
  position: relative;
  background-image: url('assets/img/liquidity_hero.jpg');
  background-size: cover;
}

.tech_sec{
  padding-top: 100px!important;
}
@media screen and (max-width: 767px){
  .tech_sec{
    padding-top: 550px!important;
  }

}